body{
        text-align: center;
       background-image: url("Background 17.jpg");
       background-repeat: no-repeat;
  background-attachment: fixed;
       opacity: 0.9;
    }
    .btn {
  background-color:darkcyan;
  color:black;
  padding: 15px;
  font-size: 16px;
  border-style:inset;
  outline: none;
}
.dropdown {
    margin-bottom: 0;
  position: absolute;
  display: inline-block;
}
.dropdown-content {
    
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 165px;
  z-index: 1;
  margin-top: 0;
}
.dropdown-content h3{
    border-style:outset;
    border-color: black;
    position:absolute;
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
    margin-top: 0;
  display: block;
}
.btn:hover, .dropdown:hover .btn {
    position: relative;
  background-color:blue;
}
.drop{
    margin-top: 0;
    position: relative;
    display: inline-block;
    background-color:turquoise;
}
.topnav {
        width: 100%;
    background-color: lightblue;
    opacity: 0.75;
    position: fixed;
    top: 0;
  overflow: hidden;
  
}
    .topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
    }
    .topnav a:active {
  background-color:blue;
  color: white;
    }
        #connect{
        padding-right: end;
    }
    h1{
        background-color: none;
        font-family:'Courier New'; 
    }  
    h2{
        font-family: cursive;
        background-color:none;
    }
    h3{
        background-color:none;
    }
    figcaption{

        font-size: 30px;
        font-family: 'Courier New';
    }
    .navheadings{
        font-size: 3rem;
        font-style: oblique;
    }   
    p{
        text-align:left;
        word-spacing: 0.5rem;
        letter-spacing: 0.005rem;
        background-color:none;
        font-size: 28px;
        font-family: 'Segoe UI';
    }
    hr{
        border-style:dotted ;
        border-width: 3px;
        color:darksalmon;
    }
    #pic{
        height: 18rem;
        /*border: 1.5rem solid lightblue;*/
        margin-bottom: 5rem;

    }
    .name{
        margin-top: 0;
        font-size: 4rem;
        font-style: oblique;
    }
    .padr{
        padding-right: 2.5rem;
    }
    .padl{
        padding-right: 1.5rem;   
    }
    #a{
        margin-top: 0;
    }
    #b{
        margin-bottom: 0;
    }
    #footer1{
        text-align:center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer2{
        text-align: left;
    }
